@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Get Bucket is an MVC App that is to help develop develop basketball community by</p>
<div>
    <p>1. Allows players to find a location to play with other players</p>
    <p>2. Compete with other players that has similar skill sets to the user</p>
    <p>3. Provide new or exisiting locations to play</p>
    <p>4. Team up with your friends or other players to compete with other teams.</p>
    <p>5. Leaving a review for the community to explore and find your favorite place to Get Buckets!</p>
</div>

