@{
    ViewBag.Title = "Home Page";
}
<body style="background-color:darkturquoise">
<div class="jumbotron">
 
        <h1>Get Buckets</h1>
        <p class="lead">Do you want to start getting buckets now?</p>
        <p><a href="https://localhost:44303/Player" class="btn btn-primary btn-lg">Click here to register &raquo;</a></p>
        <p>
            <img src="https://external-preview.redd.it/VuJXdZNhppzdzbOGj9hD04ULgW3Ot3Mqjf_YbS7jQiA.jpg?auto=webp&s=a3dea3362a5c86f6f1a840b4b32a28d1e4edf390"
                 alt="Trulli" width="1050" height="600">
        </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting Started</h2>
        <p>
            You must first sign up and creat your player profile.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Starting Playing!</h2>
        <p>Want to explore more basketball courts in your location? Click here to learn more!</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Leave a Review</h2>
        <p>Visited a basketball court near you? Leave a review! </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>
</body>